<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error {
          color: red;
        }
      </style>
    <title>Document</title>
</head>
<body>  
    <h1>This is form</h1>
    <form action="#" data-th-action="@{/contact}" data-th-object="${contact}" method="post">

        <p>Name: <input type="text" data-th-field="*{name}" placeholder="name"></p>
        <p class="error" data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"></p>

        <p>Email: <input type="text" data-th-field="*{email}" placeholder="example@gmail.com"></p>
        <p class="error" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"></p>

        <p>Phone Number: <input type="text" data-th-field="*{phoneNumber}" placeholder="Key in 7 digits"></p>
        <p class="error" data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}"></p>

        <p>DOB: <input type="text" data-th-field="*{dateOfBirth}" placeholder="Key in dd-MMM-yyyy"></p>
        <p class="error" data-th-if="${#fields.hasErrors('dateOfBirth')}" data-th-errors="*{dateOfBirth}"></p>

        <p><input type="submit" value="submit" /></p>
        
    </form>
</body>
</html>